<!DOCTYPE html>




<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZTPSBD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ZTPSBD</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Browse/Products">Products</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item" .align-self-end>
                                <a class="nav-link text-dark" asp-page="/Login/UserLogout"> Logout</a>
                            </li>
                        }
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    MENU
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @if (User.HasClaim("UserType", "User") || User.HasClaim("UserType", "Seller") || User.HasClaim("UserType", "Admin"))
                                    {
                                        <a class="dropdown-item" href="~/User/CRUD/Orders">Orders</a>
                                        <a class="dropdown-item" href="~/User/Cart">Koszyk</a>
                                        @if (User.HasClaim("UserType", "Seller") || User.HasClaim("UserType", "Admin"))
                                        {
                                            <a class="dropdown-item" href="~/Seller/CRUD/Product_Categories">Categories</a>
                                            <a class="dropdown-item" href="~/Seller/CRUD/Payments">Payments</a>
                                            @if (User.HasClaim("UserType", "Admin"))
                                            {
                                                <a class="dropdown-item" href="~/Admin/CRUD/Adresses">Adresses</a>
                                                <a class="dropdown-item" href="~/Admin/CRUD/Customer_Order(s)">Customer_Orders</a>
                                                <a class="dropdown-item" href="~/Admin/CRUD/Customers">Customers</a>
                                                <a class="dropdown-item" href="~/Admin/CRUD/Delivery_Services">Delivery_Services</a>
                                                <a class="dropdown-item" href="~/Admin/CRUD/Product_Order(s)">Product_Order</a>
                                                <a class="dropdown-item" href="~/Admin/CRUD/Users">Users</a>
                                            }
                                        }
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="nav-item .align-self-end">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/User/Cart"><span class="glyphicon glyphicon-shopping-cart"></span>Koszyk</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" href="/Login/UserLogin"><span class="glyphicon glyphicon-user"></span>Login</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ZTPSBD - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
