@page
@model ZTPSBD.Pages.CRUD.Products.CreateModel

@{
    ViewData["Title"] = "Create product";
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.name" class="control-label"></label>
                <input asp-for="Product.name" class="form-control" />
                <span asp-validation-for="Product.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.price" class="control-label"></label>
                <input asp-for="Product.price" class="form-control" />
                <span asp-validation-for="Product.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.expiration_date" class="control-label"></label>
                <input asp-for="Product.expiration_date" class="form-control" />
                <span asp-validation-for="Product.expiration_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.mass" class="control-label"></label>
                <input asp-for="Product.mass" class="form-control" />
                <span asp-validation-for="Product.mass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.id_category" class="control-label"></label>
                <select asp-for="Product.id_category" class ="form-control" asp-items="ViewBag.id_category"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Browse/Products">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
