@page
@model ZTPSBD.Pages.SellersPanel.IndexModel
@{
    ViewData["Title"] = "Admin's panel";
}

<h1>@ViewData["Title"]</h1>

<a asp-page="/Orders/Index" class="btn btn-primary btn-large">Manage Orders</a>
<a asp-page="/Product_Categories/Index" class="btn btn-primary btn-large">Manage Categories</a>
<a asp-page="/Products/Products" class="btn btn-primary btn-large">Manage Products</a>
<a asp-page="/Payments/Index" class="btn btn-primary btn-large">Manage Payments</a>
<a asp-page="/Delivery_Services/Index" class="btn btn-primary btn-large">Manage Deliveries</a>
<a asp-page="/Users/Index" class="btn btn-primary btn-large">Manage Users Login details</a>
<a asp-page="/Customers/Index" class="btn btn-primary btn-large">Manage Users Personal details</a>
<a asp-page="/Adresses/Index" class="btn btn-primary btn-large">Manage Addresses</a>