@page
@model ZTPSBD.Pages.UserPanel.IndexModel
@{
    ViewData["Title"] = "User's panel";
}

<h1>@ViewData["Title"]</h1>

<a asp-page="/Adresses/Index" class="btn btn-primary btn-large">Manage Your Addresses</a>
<a asp-page="/Orders/Index" class="btn btn-primary btn-large">Manage Your Orders</a>
<a asp-page="/Users/Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-large">Manage Your Account</a>