@page
@model ZTPSBD.Pages.PlaceOrder.customerPlaceOrderModel

@{
    ViewData["Title"] = "Place an Order";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Nie wiem po co date sie wybiera ale nie mam pomysłu na razie na inne pola*@
            <div class="form-group">
                <label asp-for="Order.due_date" class="control-label"></label>
                <input asp-for="Order.due_date" class="form-control" />
                <span asp-validation-for="Order.due_date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.orderAddress" class="control-label"></label>
                <select asp-for="adress_id" class="form-control" asp-items="ViewBag.adresses"></select>
            </div>

            <div class="form-group">
                <label asp-for="payment.method" class="control-label"></label>
                <select asp-for="payment.method" class="form-control" asp-items="ViewBag.methods"></select>
                <span asp-validation-for="payment.method" class="text-danger"></span>
            </div>
        </form>

        <form asp-page-handler="Place" method="post">
            <button class="btn btn-primary btn-large">Place Order</button>
        </form>
    </div>
</div>

@*<div>
    <a asp-page="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
