@page
@model ZTPSBD.Pages.CRUD.Payments.EditModel

@{
    ViewData["Title"] = "Edit payment";
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Payment.id_payment" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Payment.paid" /> @Html.DisplayNameFor(model => model.Payment.paid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Payment.method" class="control-label"></label>
                <input asp-for="Payment.method" class="form-control" />
                <span asp-validation-for="Payment.method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.due_date" class="control-label"></label>
                <input asp-for="Payment.due_date" class="form-control" />
                <span asp-validation-for="Payment.due_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.Order_id_order" class="control-label"></label>
                <select asp-for="Payment.Order_id_order" class="form-control" asp-items="ViewBag.Order_id_order"></select>
                <span asp-validation-for="Payment.Order_id_order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
